 /*
verde = #99CC33;
verdefluo = #FF3300;
azul = #1aa1ea;
azulclaro = #29a9df;
rojo = #EE3F24;
rojovivo = #00FF66;
azuloscuro = #2091e8;
*/


/*BACKGROUND*/

body {
/*
	background-image: url('../images/fondo.png');
	background-repeat: repeat;
	background-size: 50%;
	background-attachment: fixed;*/
	font-weight: 400;

}


/*HEADER*/

.Header {
	text-align: center;
	background-color: #99ccff;
	overflow: hidden;
	border-bottom: 5px solid white;
}

.Header-image {
	
	padding: 0;
	margin: 1em;

	
}

.Title {

	width: 90%;
	max-width: 400px;
	transition: 2s;
}

.TitleE {
	
	/*transform: rotateX(360deg);*/
	transform: scale(1.1,1.1);
}


/*MAINMENU*/

.MainMenu {

	background-color: white;
	border-radius: 4px;
	box-shadow: -9px 9px 16px -5px #00000D;
	font-weight: 700;
	font-size: 1em;
	height: 50px;
	line-height: 50px;
	margin: 9px 1%;
	text-align: center;
	text-transform: uppercase;
	width: 98%;
	z-index: 2;
	
}

.MainMenu-item
{
	display: inline;
	margin: 2%;
}

.MainMenu-link 
{
	text-decoration: none;
	color: #29a9df;
}

.MainMenu-list {

	margin: 0;
	padding: 0;
}

.Fixed {

	position: fixed;
	top: 0;
	margin-top: 0;
}




/*BANNER*/

.Banner {

	/*background-color: #3fdcaf;*/
	background-color: #b2f1df;
	border-bottom: 5px solid white;
	font-family: 'Lobster', cursive;
	padding: 3em 1em;
}

.BannerColor {
	
	color: #29a9df;
	font-size: 2.5em;
	text-align: center;
	width: 70%;
	margin: 0 15%;

}




/*PROFILE*/

.Profile {
	
	background-color: #6ae484;
	border-bottom: 5px solid white;
	text-align: center;
	
}

.Profile-description {
	
	color: white;
	padding: 1.5em 2em 3em 2em;
	font-family: 'Dosis';
	font-size: 1.4em;
	text-align: justify;
}




/*EXPERIENCE*/

.Experience {

	background-color: #ffdf7f;
	border-bottom: 5px solid white;
	text-align: center;
	padding: 2em 0;

}

.Feedback {

	border-radius: 13px;
	background-color: white;
	margin: 5%;
	width: 90%;
	
}

.Feedback-description {

	color: #2091e8;
	margin-left: 30%;
	margin-right: 5%;
	padding: 1%;
	text-align: justify;
	font-size: 1.1em;

}

.Avatar {
	float: left;
	margin:0;
	padding: 61px 18px;
}

.Avatar-image{
	
	width: 82px;
	border: 2px solid #6ae484;
	border-radius: 40%;
	transition: 2s;

}
.Avatar-animation {
	
	border-color: red;
	transform: rotateY(180deg);

}



/*CONTACT*/

#Contact {

	 background-color: #000066;
	 height: 500px;
	 text-align: center;
	 color: white;
}

.Form {

	font-size: 2em;
	padding-top: 0.7em;


}

.Form h3 {
	margin: 0;
}

/*.Form {

	width: 100%;
	height: 1125px;
}*/


/*FOOTER*/

#Footer {

	text-align: center;
	height: 100px;
	background-color: #EE3F24;
	z-index: 2;


}

.Footer-image {

	margin: 0 1em 1em 1em;

}

.Logo {
	
	width:100px;
	margin-top: 2em;

}

/*RESPONSIVE*/


@media screen and (min-width:402px){


	.Banner {

		padding: 7em 1em;
	}

	.Feedback {

		display: inline-block;
		margin: 2em;
		width: 350px;
		height: 240px;
	}

	.Feedback-description {

		margin-left: 30%;
		text-align: justify;

	}

}















