<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8" />
	<meta description="Aqui tiene que ir la descripcion de la pagina web Meta descriptions can be any length, but search engines generally truncate snippets longer than 160 characters." />
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1"/>

	<title>Believe Life Coach</title>

	<link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" type="image/png" href="../static/images/icon.png" />


    <script src="../static/js/prefixfree.js"></script>

 </head>
<body>

	<header id="Home" class="Header">

		<!-- <h1>Believe Life Coach</h1> -->

		<figure class="Header-image">

			<img src="../static/images/title.png" alt="BELIEVE LIFE COACH" class="Title">
			
		</figure>
			
		<nav class="MainMenu">
			
			<ul class="MainMenu-list">
				
				<li class="MainMenu-item">

					<a href="#Home" class="MainMenu-link">INICIO</a>
					
				</li>

				<li class="MainMenu-item">

					<a href="#Profile-section" class="MainMenu-link">EXPERIENCIAS</a>
					
				</li>

				<li class="MainMenu-item">

					<a href="#Footer" class="MainMenu-link">CONTACTO</a>
					
				</li>

			</ul>

		</nav>
		
	</header>

	<section class="Banner">

	
		
	</section>

	<section id="Profile-section" class="Profile">

		<article class="Profile-description">
			
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi harum aliquam vitae, quibusdam consectetur. Consectetur sapiente esse repudiandae sed, optio deleniti eveniet architecto dolorum recusandae! Cumque, blanditiis magnam eligendi animi! </p>

		</article>
		
	</section>
		
	<footer id="Footer">
		
		<figure class="Footer-image">
			<img src="../static/images/logo.png" alt="logo" class="Logo">
		</figure>

	</footer>

</body>

<script src="../static/js/jquery.js"></script>
<script src="../static/js/code.js"></script>

</html>