<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8" />
	<meta description="Aqui tiene que ir la descripcion de la pagina web Meta descriptions can be any length, but search engines generally truncate snippets longer than 160 characters." />
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1"/>

	<title>Believe Life Coach</title>

	<link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" type="image/png" href="../static/images/icon.png" />


    <script src="../static/js/prefixfree.js"></script>

 </head>
<body>

	<header id="Home" class="Header">

		<!-- <h1>Believe Life Coach</h1> -->

		<figure class="Header-image">

			<img src="../static/images/title.png" alt="BELIEVE LIFE COACH" class="Title">
			
		</figure>
			
		<nav class="MainMenu">
			
			<ul class="MainMenu-list">
				
				<li class="MainMenu-item">

					<a href="#Home" class="MainMenu-link">INICIO</a>
					
				</li>

				<li class="MainMenu-item">

					<a href="#Profile-section" class="MainMenu-link">NOSOTROS</a>
					
				</li>

				<li class="MainMenu-item">

					<a href="#Experience-section" class="MainMenu-link">EXPERIENCIAS</a>
					
				</li>

				<li class="MainMenu-item">

					<a href="#Contact" class="MainMenu-link icon-envelope2"></a>
					
				</li>

				<li class="MainMenu-item">

					<a href="#Social" class='Social-link icon-share'></a>
					
				</li>

			</ul>
			

		</nav>
		
		<nav class="SocialMenu">
			
			<ul class="SocialMenu-list">

				<li class="SocialMenu-item">
					
					<a href="https://twitter.com/BlieveLifeCoach" class="SocialMenu-link icon-twitter" target="_blank"></a>

				</li>
						
				<li class="SocialMenu-item">
						
					<a href="http://instagram.com/blievelifecoach" class="SocialMenu-link icon-instagram" target="_blank"></a>

				</li>

			</ul>

		</nav>

	</header>


	<section class="Banner">

		<article class="BannerColor">
			
			"Believe in your dreams and they may come true. Believe in yourself, and they will come true." 

		</article>

	</section>


	<section id="Profile-section" class="Profile">

		<article class="Profile-description">

			<h2>Nosotros.</h2>
			
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi harum aliquam vitae, quibusdam consectetur. Consectetur sapiente esse repudiandae sed, optio deleniti eveniet architecto dolorum recusandae! Cumque, blanditiis magnam eligendi animi!</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi harum aliquam vitae, quibusdam consectetur. Consectetur sapiente esse repudiandae sed, optio deleniti eveniet architecto dolorum recusandae! Cumque, blanditiis magnam eligendi animi!</p>

		</article>
		
	</section>

	<section id="Experience-section" class="Experience">
		
		<div class="Feedback">
			<figure class="Avatar">
				<img class="Avatar-image" src="../static/images/user.png" alt="User Avatar">
			</figure>
			<div class="Feedback-description">
				<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni cupiditate maiores vero ad alias, odio porro impedit reiciendis, earum incidunt pariatur! Aspernatur voluptatibus fugit harum sequi. Culpa hic repellat pariatur."</p>	
			</div>
		</div>

		<div class="Feedback">
			<figure class="Avatar">
				<img class="Avatar-image" src="../static/images/user.png" alt="User Avatar">
			</figure>
			<div class="Feedback-description">
				<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni cupiditate maiores vero ad alias, odio porro impedit reiciendis, earum incidunt pariatur! Aspernatur voluptatibus fugit harum sequi. Culpa hic repellat pariatur".</p>	
			</div>
		</div>

		<div class="Feedback">
			<figure class="Avatar">
				<img class="Avatar-image" src="../static/images/user.png" alt="User Avatar">
			</figure>
			<div class="Feedback-description">
				<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni cupiditate maiores vero ad alias, odio porro impedit reiciendis, earum incidunt pariatur! Aspernatur voluptatibus fugit harum sequi. Culpa hic repellat pariatur."</p>	
			</div>
		</div>

	</section>

	<section id="Contact">

		<!-- <iframe class="Form" src="https://docs.google.com/forms/d/18NjYQePow0Zy1GbwMPHPYPxAxnESvUhsAEX726BsDwg/viewform?embedded=true"  frameborder="0" marginheight="0" marginwidth="0">Cargando...</iframe> -->

		<article class="Form">
			
			<h3>CONTACTO</h3>

				<form class="FormState" name="contactform" method="post" action="send_form_email.php">

					<div class="NameForm">
						
						<label class="Label" for="name">NOMBRE</label>

						<input  type="text" name="name" class="Box" id="Name" required>

					</div>

					

	 				<div class="TelephoneForm">

	 					<label class="Label" for="telephone">TELÉFONO</label>

						<input  type="tel" name="telephone" class="Box" id="Telephone" required>

					</div>

					<div class="EmailForm">

						<label class="Label" for="email">EMAIL</label>
	 				  	
	 					<input  type="email" name="email" class="Box" id="Email" required>

	 				</div>

					<div class="MessageForm">

						<label class="Label" for="message" required>MENSAJE</label>
 
 						<textarea  name="message" class="Box MessageBox"></textarea>

 					</div>

					<button class="Button" type="submit">ENVIAR</button>

				</form>

		</article>


	</section>	


	<footer id="Footer">
		
		<figure class="Footer-image">
			<img src="../static/images/logo.png" alt="logo" class="Logo">
		</figure>

	</footer>

</body>

<script src="../static/js/jquery.js"></script>
<script src="../static/js/code.js"></script>

</html>